<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.cssText" />
 </head>
<body>
    @RenderBody()
    <script src="@ViewBag.jsText"></script>
</body>
</html>
