@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer>
    <div class="scaler">
        <span class="text">scale:</span>
        <span class="scaleNumber">100%</span>
        <input type="range" min="50" max="200" id="sliderScale" />
    </div>
    <div class="saver">
        <div class="saveAsText">Save As</div>
        <br />
        <ul class="formats">
            <li>.jpg</li>
            <li class="sep">|</li>
            <li>.pdf</li>
        </ul>
    </div>
</footer>