@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <h2 id="greetingText">
        Make your ancestry 
        <span>digital!</span>
    </h2>
    <section>
        <article>
            <div class="helpText">
                <div class="actuallyText">
                    imageBase
                    Use directional buttons(Up, down etc) to move the image to the right place. Use the +\- buttons to resize it.
                </div>
                <div class="helpers">
                    <div id="closeButton">X</div>
                    <div id="triangle"></div>
                </div>
            </div>
            <div class="singlePersonWrapper">
                <div class="personHolder">
                    <div class="movePersonCircle" draggable="true"></div>
                    <div class="addTree">+</div>
                    <div class="addTree right">+</div>
                    <br />
                    <img class="rotateButton" src="https://cdn0.iconfinder.com/data/icons/large-black-icons/512/Rotate_left_arrow.png" style="height:10px" />
                    <div class="singlePerson">
                        <img class="emptyPersonImage" src="@ViewBag.imageBase/noperson.svg" />
                        <input type="file" accept="image/*" />
                    </div>
                    <div class="boundingRectangle">
                        <div class="boundingCircle">
                            <div class="leftTree"></div>
                            <div class="rightTree"></div>
                        </div>
                    </div>
                    <div class="infoAdd">i</div>
                    <div class="credentialsBlock"></div>
                    <br />
                    <input type="text" value="John" placeholder="John" />
                    <br />
                    <input type="text" value="Doe" placeholder="Doe" />
                    <input type="hidden" class="biography" />
                </div>
            </div>
        </article>
    </section>
</main>